.etabs-tabgroup {
    background: #282828;
}

.etabs-tabs {
    white-space: nowrap;
    display: inline-block;
}

.etabs-tab.visible {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background: #404040;
    border-right: 1px solid #303030;
    color: #ffffff;
    height: 24px;
    
    /* Tab width. */
    box-sizing: border-box;
    max-width: 240px;
}

.etabs-tab.visible.active {
    background: #1e1e1e;
}

.etabs-tab-buttons, .etabs-tab-badge {
    display: none;
}

.etabs-tab-title {
    cursor: default;
    user-select: none;
    font-family: Consolas, monospace;
    font-size: 10px;

    /* Text overflow handling. */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    direction: rtl;
    unicode-bidi: plaintext;
    vertical-align: text-bottom;
    text-align: left;
    width: 100%;
}

.etabs-views {
    position: absolute;
    width: 100%;
    top: 24px;
    bottom: 0;
}

.etabs-tab-icon > img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
}

/* New tab button. */
.etabs-buttons {
    display: inline-block;
    margin-left: -4px;
}

.etabs-tab-button-new {
    padding: 0;
    border: none;
    color: transparent;
    background: transparent;
    width: 24px;
    height: 24px;
    background-image: url(../../assets/new-tab.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.25s;
}

.etabs-tab-button-new:hover {
    background-color: #404040;
    transition: background-color 0.25s;
}
