body {
    background: #1e1e1e;
}

#terminal-container {
    position: fixed; 
    top: 0px; bottom: 0px; left: 0px; right: 0px; 
    padding: 8px;
}

/* Width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #424242; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4f4f4f; 
}
